crypto/secret/*
moreinfo_plaintext.html
.DS_Store
*/target*
server/rsvp/target/
server/rsvp/src/guests.csv

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
