@font-face {
    font-family: 'Tenor Sans';
    src: url('https://fonts.gstatic.com/s/tenorsans/v19/bx6ANxqUneKx06UkIXISn3V4Cg.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Infant", serif;
    src: url('https://fonts.gstatic.com/s/cormorantinfant/v20/HhyCU44g9vKiM1sORYSiWeAsLN99xfs9KOOc_agJPrgvYNWUjjg.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: "Nunito", serif;
    src: url('https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2') format('woff2');
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f0f0f0;
}

p {
    font-family: "Cormorant Infant", serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400; 
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

.container {
    padding: 0 30vw 0 30vw;
    margin: 0 0 0 0;
}

.subtitle {
    font-family: "Nunito", serif;
    font-size: 1.5rem;
}

.centered {
    align-items: center;
}

#header {
    background-color: #697357;
    color: #fff;
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    padding-bottom: 10vh;
    text-align: center;
    margin: 0;
}

#content {
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding-top: 4vh;;
    width: 100%;
    height: 100%;
}

#map {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
    margin: 0 auto;          /* centers #map itself in its parent */
}