@font-face {
  font-family: "Ppeiko Light";
  src: url("./fonts/PPEiko-Medium.otf") format("woff2");
  font-weight: 699;
  font-style: normal;
}

:root {
  --color-bg-main: #ffa400;
  --color-bg-accent: #000000;
  --color-text-main: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Ppeiko Light";
}

body {
  background-color: var(--color-bg-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

#content {
  color: var(--color-text-main);
  width: 50%;
  height: 50%;
}
