:root {
  --color-bg-main: #ffa400;
  --color-bg-accent: #000000;
  --color-text-main: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ppeiko Medium";
}

p {
  font-family: "Ppeiko Light";
  font-variant: small-caps;
}

#arched-header-text {
  font-family: "Ppeiko Medium";
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

body {
  background-color: var(--color-bg-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

#card {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Make #card the positioning context */
  /* width: 100%; */
  /* height: 100%; */
}

@media (min-width: 1201px) {
  #card {
    width: 45%;
    /* height: 60vh; */
  }
}

@media (max-width: 1200px) {
  #card {
    width: 95%;
    height: 80vh;
  }
}

#inside-line {
  width: 94%;
  height: 94%;
  padding: 4%;
  border: 3px double #000;
  box-sizing: border-box;
  background: var(--color-bg-main);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
